# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos/
.pub-cache/
build/
.pub/
coverage/

# Android
android/.gradle/
android/captures/
android/.idea/
android/local.properties
*.iml

# iOS & macOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Web
web/.dart_tool/

# VS Code
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.lock
*.tmp
*.swp

# Firebase
.firebase/
